<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>AIzaSyB0dHpLNP05EhhmzolrNh3Fd1f_iabIBWU</string>
    <key>GCM_SENDER_ID</key>
    <string>723762100065</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>dalali</string>
    <key>PROJECT_ID</key>
    <string>dalali-83f65</string>
    <key>STORAGE_BUCKET</key>
    <string>dalali-83f65.firebasestorage.app</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:723762100065:ios:9629b28f482d5cbddc7720</string>
    <key>DATABASE_URL</key>
    <string>https://dalali-83f65-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
